legend{
    text-align: center;
}
footer{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
.menu{
    width: 300px;
    text-align: center;
    background-color: blueviolet;
}